<h1>New Catch</h1>

<form action="/catches" method="post">

  <!--Existing Bait-->
  <h2>Your Existing Baits</h2>
  <% @user_bait.each do |bait| %>
    <input type="checkbox" id="bait_<%=bait.id%>" name="bait_id_checked" value="<%=bait.id%>">
    <label><%=bait.name%>, <%=bait.color%></label><br>
  <% end %><br>

  <!--New Bait-->
  <h2>New Bait</h2>
  <label for="bait_name">Name: </label>
  <input type="text" name="bait_name"><br><br>
  <label for="bait_color">Color: </label>
  <input type="text" name="bait_color"><br><br>

  <!--New Fish-->
  <h2>Fish Information</h2>
  <label for="fish_species">Species: </label>
  <input type="text" name="fish_species"><br><br>
  <label for="fish_weight">Weight: </label>
  <input type="number" name="fish_weight"><br><br>
  <label for="fish_length">Length: </label>
  <input type="number" name="fish_length"><br><br>

  <!--submit-->
  <input type="submit" value="Create Catch">


</form>
