<h1>New Catch</h1>

<form action="/catches" method="post">

  <!--Existing Bait-->
  <% @baits.each do |bait| %>
    <label><%=bait.type%></label>
    <input type="checkbox" id="bait_<%=bait.id%>" name="catch[bait_ids][]" value="<%=bait.id%>">
  <% end %>

  <!--New Bait-->
  <label for="bait_type">Bait Type: </label>
  <input type="text" name="bait_type"><br><br>
  <label for="bait_color">Bait Color: </label>
  <input type="text" name="bait_color"><br><br>

  <!--New Fish-->
  <label for="fish_type">Fish Type: </label>
  <input type="text" name="fish_type"><br><br>
  <label for="fish_weight">Fish Weight: </label>
  <input type="text" name="fish_weight"><br><br>
  <label for="fish_length">Fish Length: </label>
  <input type="fish_length" name=""><br><br>

  <!--submit-->
  <input type="submit" name="Submit">


</form>
