<h1>Login</h1>

<form class="" action="/login" method="post">
  <!-- username -->
  <label for="username">Username: </label>
  <input type="text" name="username" value="">

  <!-- age -->
  <label for="age">Age: </label>
  <input type="text" name="age" value="">

  <!-- hometown -->
  <label for="hometown">Hometown: </label>
  <input type="text" name="hometown" value="">

  <!-- password -->
  <label for="password">Password: </label>
  <input type="text" name="Password">
  <!-- submit -->

  <input type="submit" name="Submit">


</form>
