<h1>Login</h1>

<form class="" action="/login" method="post">
  <!-- username -->
  <label for="username">Username: </label>
  <input type="text" name="username" value=""><br><br>

  <!-- password -->
  <label for="password">Password: </label>
  <input type="text" name="Password"><br><br>

  <!-- submit -->
  <input type="submit" name="Submit">


</form>
