<h1>Signup</h1>

<form class="" action="/signup" method="post">
  <!-- username -->
  <label for="username">Username: </label>
  <input type="text" name="username" value=""><br><br>

  <!-- age -->
  <label for="age">Age: </label>
  <input type="text" name="age" value=""><br><br>

  <!-- hometown -->
  <label for="hometown">Hometown: </label>
  <input type="text" name="hometown" value=""><br><br>

  <!-- password -->
  <label for="password">Password: </label>
  <input type="text" name="Password"><br><br>

  <!-- submit -->
  <input type="submit" name="Submit">


</form>
