<h1>New Bait</h1>

<form action="/baits" method="post">
  <label for="bait_name">Bait Type: </label>
  <input type="text" name="bait_name"><br><br>

  <label for="bait_color">Bait Color: </label>
  <input type="text" name="bait_color"><br><br>

  <input type="submit" value="Create Bait">

</form>
