<h3>Bait Name: <%=@bait.name%></h3>
<h3>Bait Color: <%=@bait.color%></h3>

<a href="/baits/<%=@bait.id%>/edit">Edit This Bait</a>

<form action="/baits/:id/delete">
  <input type="hidden" name="bait_id" value="<%=@bait.id%>">
  <input type="submit" value="Delete Bait">
</form>
