bait new page

<form action="/bait" method="post">
  <label for="bait_type">Bait Type: </label>
  <input type="text" name="bait_type">

  <label for="bait_color">Bait Color: </label>
  <input type="text" name="bait_color">

  <input type="submit" name="Submit">

</form>
