<h1>Welcome to My Bass Tracker</h1>
<h3>My Bass Tracker will allow you to keep track of the bass bait
  that you own and keep track of this fish you catch. This will allow
  you to stay better informed about which bait is working the best for you!</h3><br>


<h4>Returning users, please <a href="/login">Login</a></h4>

<h4>If you are new here, please <a href="/signup">Signup</a></h4>
